body {
  font-size: 16px;
  box-sizing: border-box;
  background-image:url("../pictures/bg3.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
}
#categories{
  width:100%;
  height:60%;
  /* background-color: brown; */
  top:300px;
 }
#female,#male,#child{
  height:200px;
  width:200px;
  margin-left: 15%;
}
span{
  height:200px;
  width:200px;
  margin-left: 20%;
}
body{
  box-sizing:border-box;
  margin: 0;
  }
  #header-nav{
    background-color: gray;
    height:50px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }
  #options{
    float:right; 
    height:800px;
    width:15%;
    background-image: url("../pictures/bg2.gif");
    text-align: center;
    padding: 10px;
  }
  #imgcont{
      border:5px solid black;
      width:60%;
      height: 400px;
      left:250px; 
      position: absolute;
      margin-top: 10px;
  }
  #steps{
    float:right;
    height:900px;
    width:20%;
    /* border-left: 5px solid black; */
  }
  .step{
    border:2px solid black;
    width:270px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5%;
  }
  h5{
    margin-bottom: 2px;
    margin-top:2px;
  }
